{% extends 'base.html' %}

{% block title %}Bill List{% endblock %}

{% block content %}
    <h1>Bill List</h1>
    <a href="{% url 'bill-create' %}">Create New Bill</a>
    <ul>
        {% for bill in bills %}
            <li>
                <a href="{% url 'bill-detail' bill.id %}">{{ bill.title }}</a>
                <a href="{% url 'bill-update' bill.id %}">Edit</a>
                <a href="{% url 'bill-delete' bill.id %}" onclick="return confirm('Are you sure?');">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
